* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    padding: 30px;
    background: rgb(71, 9, 227);
    color: white;
    
}

.form-container {
    display: flex;
    margin-left: 3px;
}

form {
    position: relative;
}

#city-search {
    box-shadow: 0px 3px 5px 3px black;

}

.btn {
    position: absolute;
    top: 0;
    right: 0;
}

.btn:hover {
    color: rgb(0, 162, 255);
}

  #cityName, #currentDate, #weatherIcon {
    display: flex;
    justify-content: center;

}
